<div>
  <div>
    <h1>
      Your todo list
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_todo" method="post">
      <div>
        <label for="content_box">
          Describe the task:
        </label>

        <input type="text" id="content_box" name="query_content">
      </div>

      <div>
        <input type="hidden" id="status_box" name="query_status" value="next_up">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
      </div>

      <button>
        Add to Next Up
      </button>
    </form>
  </div>
</div>

<hr>

<div class="next_up" style="color:darkorange">
  <h2>Next Up</h2>
  <% @list_of_todos.each do |a_todo| %>
  <% if a_todo.status == "next_up" %>
  <ul>
    <li>
    <div><%= a_todo.content %></div>
    <small>Added <%= time_ago_in_words(a_todo.created_at) %> ago  <a href="/delete_todo/<%= a_todo.id %>">Delete</a></small>
        <form action="/modify_todo/<%= a_todo.id %>" method="post">
      <div>
        <input type="hidden" id="content_box" name="query_content" value="<%= a_todo.content %>">
      </div>

      <div>
        <input type="hidden" id="status_box" name="query_status" value="in_progress">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
      </div>

      <button>
        Move to In progress
      </button>
    </form>
    </li>
  </ul>
  <% end %>
 <% end %> 
</div>

<hr>

<div class="in_progress" style="color:darkgreen">
  <h2>In Progress</h2>
  <% @list_of_todos.each do |a_todo| %>
  <% if a_todo.status == "in_progress" %>
  <ul>
    <li>
    <div><%= a_todo.content %></div>
    <small>Started <%= time_ago_in_words(a_todo.updated_at) %> ago  <a href="/delete_todo/<%= a_todo.id %>">Delete</a></small>
        <form action="/modify_todo/<%= a_todo.id %>" method="post">
      <div>
        <input type="hidden" id="content_box" name="query_content" value="<%= a_todo.content %>">
      </div>

      <div>
        <input type="hidden" id="status_box" name="query_status" value="done">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
      </div>

      <button>
        Move to Done
      </button>
    </form>
    </li>
  </ul>
  <% end %>
 <% end %> 
</div>

<hr>

<div class="done" style="color:grey">
  <h2>Done</h2>
  <% @list_of_todos.each do |a_todo| %>
  <% if a_todo.status == "done" %>
  <ul>
    <li>
    <div><%= a_todo.content %></div>
    <% time = a_todo.updated_at %>
    <% todo_time = time.strftime("%I:%M%P on %d-%b-%Y") %>
    <!--<small>Completed at <%#= time_ago_in_words(a_todo.updated_at) %> ago  <a href="/delete_todo/<%#= a_todo.id %>">Delete</a></small>-->
    <small>Completed at <%= todo_time %> ago  <a href="/delete_todo/<%= a_todo.id %>">Delete</a></small>
    </li>
    </li>
  </ul>
  <% end %>
 <% end %> 
</div>

<hr>
